<?xml version='1.0' encoding='utf-8'?>
<widget id="io.onsen.helloworld" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0">
    <name>Patrika</name>
    <description>
Wedding invitation card    </description>
    <author email="aniket@sbitinfo.in" href="http://sbitinfo.in">
       SBIT
    </author>
	    <content src="index.html" />
    <preference name="fullscreen" value="false" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <preference name="phonegap-version" value="cli-5.2.0" />

    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <gap:plugin name="com.phonegap.plugin.statusbar" />
    <gap:plugin name="org.apache.cordova.console"  />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file-transfer" source="npm" />
    <gap:plugin name="org.apache.cordova.inappbrowser" source="npm" />

       <icon src="icon.jpg" />
      <gap:splash src="start.jpg" />
   <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
